.env
.env.*
!.env.example

/vendor
/node_modules

/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

.phpunit.result.cache
.phpunit.cache
.idea
.vscode
.DS_Store
Thumbs.db

/storage/*.xlsx
/storage/cronJobAvailable
/storage/installed
/storage/lock
/storage/tmp/*
!/storage/tmp/.keep

/naujas/